<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todolist.mapper.TodoMapper">


    <select id="findAll" parameterType="java.lang.Long" resultType="com.example.todolist.model.Todo">
        SELECT * FROM todo
        WHERE user_id = #{userId}
        ORDER BY priority DESC, due_date ASC, created_at DESC
    </select>


    <select id="findByKeyword" resultType="com.example.todolist.model.Todo">
        SELECT * FROM todo
        WHERE user_id = #{userId} AND (
        title LIKE CONCAT('%', #{keyword}, '%') OR
        description LIKE CONCAT('%', #{keyword}, '%')
        )
        ORDER BY priority DESC, due_date ASC, created_at DESC
    </select>

    <select id="findById" parameterType="java.lang.Long" resultType="com.example.todolist.model.Todo">
        SELECT * FROM todo WHERE id = #{id}
    </select>


    <insert id="insert" parameterType="com.example.todolist.model.Todo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO todo(title, description, category, priority, due_date, user_id)
        VALUES(#{title}, #{description}, #{category}, #{priority}, #{dueDate}, #{userId})
    </insert>

    <update id="update" parameterType="com.example.todolist.model.Todo">
        UPDATE todo
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="completed != null">completed = #{completed},</if>
            <if test="category != null">category = #{category},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM todo WHERE id = #{id}
    </delete>


    <select id="findByUserId" parameterType="java.lang.Long" resultType="com.example.todolist.model.Todo">
        SELECT * FROM todo
        WHERE user_id = #{userId}
        ORDER BY priority DESC, due_date ASC, created_at DESC
    </select>

</mapper>